<style media="screen" type="text/css">
	.yellow-card {
		background-image: url(data:image/gif;base64,R0lGODlhCAALAIAAAAAAAP/rNiH5BAAAAAAALAAAAAAIAAsAAAIRhH+ha8vgVIvT1RfDlZAiVAAAOw==);
		background-color: #FFEB36;
		background-size: 8px 11px;
		background-repeat: no-repeat;
		height: 11px;
	}
	.red-card {
		background-image: url(data:image/gif;base64,R0lGODlhCAALAIAAAAAAANMgLyH5BAAAAAAALAAAAAAIAAsAAAIRhH+ha8vgVIvT1RfDlZAiVAAAOw==);
		background-color: #D3202F;
		background-size: 8px 11px;
		background-repeat: no-repeat;
		height: 11px;
	}
	.card {
		width: 8px;
		display: inline-block;
		text-align: center;
	}
	.yellow-card-button {
		background: #A2A200;
	}
	.yellow-card-button:hover {
		background: #D8D800;
	}
	.red-card-button {
		background: #A20000;
	}
	.red-card-button:hover {
		background: #D80000;
	}
	.yellow-card-issued {
		color: #AAAA00;
		font-weight: bold;
	}
	.red-card-issued {
		color: #AA0000;
		font-weight: bold;
	}
	.card-type {
		width: 9%;
		text-align: center;
	}
	.card-duration {
		width: 7%;
		text-align: left;
	}
	.card-expiration-date {
		width: 14%;
		text-align: left;
	}
	.card-reason {
		width: 37%;
		text-align: left;
	}
</style>
