<dd class="profile-cards">
	<strong>{L_AKRUIJFF_PENALTY_CARDS}{L_COLON}</strong>

	<!-- BEGIN postrow.akruijff_penalty_cards_yellow -->
	<a class="yellow-card" href="{postrow.akruijff_penalty_cards_yellow.U_AKRUIJFF_PENALTY_CARDS_CARD}" title="{L_AKRUIJFF_PENALTY_CARDS_YELLOW_CARD}">
		<i class="card" aria-hidden="true"></i>
		<span class="sr-only">{L_AKRUIJFF_PENALTY_CARDS_YELLOW_CARD}</span>
	</a>
	<!-- END postrow.akruijff_penalty_cards_yellow -->

	<!-- BEGIN postrow.akruijff_penalty_cards_red -->
	<a class="red-card" href="{postrow.akruijff_penalty_cards_yellow.U_AKRUIJFF_PENALTY_CARDS_CARD}" title="{L_AKRUIJFF_PENALTY_CARDS_RED_CARD}">
		<i class="card" aria-hidden="true"></i>
		<span class="sr-only">{L_AKRUIJFF_PENALTY_CARDS_RED_CARD}</span>
	</a>
	<!-- END postrow.akruijff_penalty_cards_red -->
</dd>
