<!-- IF postrow.U_YELLOW_CARD -->
	<li>
		<a href="{postrow.U_YELLOW_CARD}" title="{L_AKRUIJFF_PENALTY_CARDS_YELLOW_CARD}" class="button button-icon-only yellow-card-button">
			<i class="icon xfa-warning fa-fw" aria-hidden="true"></i><span class="sr-only">{L_AKRUIJFF_PENALTY_CARDS_YELLOW_CARD}</span>
		</a>
	</li>
<!-- ENDIF -->

<!-- IF postrow.U_RED_CARD -->
	<li>
		<a href="{postrow.U_RED_CARD}" title="{L_AKRUIJFF_PENALTY_CARDS_RED_CARD}" class="button button-icon-only red-card-button">
			<i class="icon xfa-ban fa-fw" aria-hidden="true"></i><span class="sr-only">{L_AKRUIJFF_PENALTY_CARDS_RED_CARD}</span>
		</a>
	</li>
<!-- ENDIF -->
